
[Unit]
Description=Gunicorn daemon for Hansal backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/opt/hansal/backend
EnvironmentFile=/opt/hansal/backend/.env
ExecStart=/opt/hansal/backend/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
